{
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 140,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
